<!doctype html>
<html lang="en">


<%- include("../partials/breedheader") %>
  <section class="home-slider inner-page owl-carousel">
    <div class="slider-item"
      style="background-image: url('https://wallpapers.com/images/featured/beagle-dog-pictures-r7pzd4evbbgbmxqx.jpg');">

      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate">
            <h1>Beagle</h1>
            <p class="mb-5">"
              Beagles are energetic and affectionate scent hounds with an exceptional sense of smell,<br> often used for
              tracking and hunting small game, and their adorable floppy ears and soulful eyes make them an irresistible
              companion for families and dog lovers alike."</p>
            <p><a href="#about" class="btn btn-white btn-outline-white">Explore</a></p>
          </div>
        </div>
      </div>

    </div>
  </section>
  <br>
  <%- include("../partials/otherfooter") %>


</html>
