<!doctype html>
<html lang="en">

<%- include("../partials/breedheader") %>
    
    <section class="home-slider inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('../img/german.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Rottweiler</h1>
              <p class="mb-5">"A German Shepherd is one of the only dogs in the world<br> that loves you more than you love yourself "</p>
              <p><a href="#about" class="btn btn-white btn-outline-white">Explore</a></p>
            </div>
          </div>
        </div>

      </div>
    </section> 
    <br>


<section class="section border-t bo bg-light">
  <div class="row justify-content-center mb-5 element-animate">
    <div class="col-md-8 text-center">
      <h2 class="heading mb-4">Dog Adoption</h2>
      <p class="mb-5 lead">"Dogs are better than human beings because they know<br>but do not tell." - Emily Dickinson</p>
    </div>
  </div>
  <!-- card section -->
  <div class="main">
    <div class="card">
      <div class="card-image">
        <img src="https://wallpapercave.com/wp/eKpNdDi.jpg" alt="German Shepherd" style="padding-top: 10px; width: 200px; height: 200px; border-radius: 50%;">
      </div>
      <div class="card-text">
        <h2>German Shepherd</h2>
        <p><br>Age: 5 Years<br>Location: New Delhi</p>
      </div>
      <div class="card-stats">            
        <div class="stat stats">
          <button id="rzp-button1" onclick="payWithRazorpay()" style="width:20px height:10px">Adopt</button>
        </div>
      </div>
    </div> 

    <div class="card">
      <div class="card-image">
        <img src="https://wallpapercave.com/wp/eKpNdDi.jpg" alt="German Shepherd" style="padding-top: 10px; width: 200px; height: 200px; border-radius: 50%;">
      </div>
      <div class="card-text">
        <h2>German Shepherd</h2>
        <p><br>Age: 5 Years<br>Location: New Delhi</p>
      </div>
      <div class="card-stats">            
        <div class="stat stats">
          <button id="rzp-button1" onclick="payWithRazorpay()" style="width:20px height:10px">Adopt</button>
        </div>
      </div>
    </div> 
    <div class="card">
      <div class="card-image">
        <img src="https://wallpapercave.com/wp/eKpNdDi.jpg" alt="German Shepherd" style="padding-top: 10px; width: 200px; height: 200px; border-radius: 50%;">
      </div>
      <div class="card-text">
        <h2>German Shepherd</h2>
        <p><br>Age: 5 Years<br>Location: New Delhi</p>
      </div>
      <div class="card-stats">            
        <div class="stat stats">
          <button id="rzp-button1" onclick="payWithRazorpay()" style="width:20px height:10px">Adopt</button>
        </div>
      </div>
    </div> 
    <div class="card">
      <div class="card-image">
        <img src="https://wallpapercave.com/wp/eKpNdDi.jpg" alt="German Shepherd" style="padding-top: 10px; width: 200px; height: 200px; border-radius: 50%;">
      </div>
      <div class="card-text">
        <h2>German Shepherd</h2>
        <p><br>Age: 5 Years<br>Location: New Delhi</p>
      </div>
      <div class="card-stats">            
        <div class="stat stats">
          <button id="rzp-button1" onclick="payWithRazorpay()" style="width:20px height:10px">Adopt</button>
        </div>
      </div>
    </div> 
    <div class="card">
      <div class="card-image">
        <img src="https://wallpapercave.com/wp/eKpNdDi.jpg" alt="German Shepherd" style="padding-top: 10px; width: 200px; height: 200px; border-radius: 50%;">
      </div>
      <div class="card-text">
        <h2>German Shepherd</h2>
        <p><br>Age: 5 Years<br>Location: New Delhi</p>
      </div>
      <div class="card-stats">            
        <div class="stat stats">
          <button id="rzp-button1" onclick="payWithRazorpay()" style="width:20px height:10px">Adopt</button>
        </div>
      </div>
    </div> 
    <div class="card">
      <div class="card-image">
        <img src="https://wallpapercave.com/wp/eKpNdDi.jpg" alt="German Shepherd" style="padding-top: 10px; width: 200px; height: 200px; border-radius: 50%;">
      </div>
      <div class="card-text">
        <h2>German Shepherd</h2>
        <p><br>Age: 5 Years<br>Location: New Delhi</p>
      </div>
      <div class="card-stats">            
        <div class="stat stats">
          <button id="rzp-button1" onclick="payWithRazorpay()" style="width:20px height:10px">Adopt</button>
        </div>
      </div>
    </div> 
  </div>
</section>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
  function payWithRazorpay() {
    var orderId;
    var settings = {
      "url": "/create/orderId",
      "method": "POST",
      "timeout": 0,
      "headers": {
        "Content-Type": "application/json"
      },
      "data": JSON.stringify({
        "amount": "39900"
      }),
    };

    // Create a new orderId every time
    $.ajax(settings).done(function (response) {
      orderId = response.orderId;
      console.log(orderId);

      var options = {
        "key": "rzp_test_TGr6TblEdcfhCA", // Enter the Key ID generated from the Dashboard
        "amount": "39900", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Happy Tails",
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": orderId, // This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
          alert(response.razorpay_payment_id);
          alert(response.razorpay_order_id);
          alert(response.razorpay_signature);

          var verifySettings = {
            "url": "/api/payment/verify",
            "method": "POST",
            "timeout": 0,
            "headers": {
              "Content-Type": "application/json"
            },
            "data": JSON.stringify({response}),
          };

          // Make a request to verify the payment
          $.ajax(verifySettings).done(function (verifyResponse) {
            // Handle the response of payment verification
            console.log(verifyResponse);
          });
        },
        "theme": {
          "color": "#3399cc"
        }
      };

      var rzp1 = new Razorpay(options);
      rzp1.on('payment.failed', function (response) {
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
      });

      rzp1.open();
    });
  }
</script>


<%- include("../partials/otherfooter") %>

   </html>